
<div class="alart">
      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved:
        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
</div>
  <h2>User info</h2>
    <div class="Userimag">
      <% if @user.profile_image.present? %>
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: '100x100' %>
      <% else %>
         <%= image_tag 'default.png' %>
      <% end %>
      
    </div>
    
  
