<div class="Userinfo">
  <h2>User info</h2>
  <p><%= attachment_image_tag @user, :image, format: 'jpeg', size: '100x100' %></p>
  <p>name</p>
  <p>introduction</p>
  <p><%=link_to'編集', edit_user_registration_path(current_user.id) %></p>
</div>

<div class="New book">
  <p>titel</p>
  <p>opinion</p>
  <p>createbook</p>
</div>

<div class="Books">
  <h2>Books</h2>
  <table>
    <tr>title</tr>
    <tr>opinion</tr>
  </table>
  
  
</div>
  