<div class="mx-auto" style="width: 200px;">
    <h1>welcome to Bookers<i class="fas fa-book"></i> !!</h1>
    <p>In Bookers,
    
    you can share and exchange your opinions , inpressions , and emotions
    
    about various books!</p>
    
    <li>
    <%= link_to "Log in", new_user_session_path,class:"btn btn-success" %>
    </li>
    <li>
    <%= link_to "Sign up", new_user_registration_path,class:"btn btn-info"%>
    </li>
</div>